---
layout: default
---
<div id="researchid" class="col-sm-9">
  {{ content }}
</div>

<div class="col-sm-3">
  <div class="research-sidebar">
    <p class="sidebar-title">Research Lines</p>
    {% for line in site.data.researchlist %}
    <a href="{{ site.url }}{{ site.baseurl }}/research/{{ line.url }}/">
      <div class="sidebar-research-item{% if page.url contains line.url %} active{% endif %}" style="{% if page.url contains line.url %}border-left-color: {{ line.color }}; color: {{ line.color }};{% endif %}">
        {{ line.title }}
      </div>
    </a>
    {% if line.id == 'xtalis' and page.url contains 'xtalis' %}
    <a href="{{ site.url }}{{ site.baseurl }}/research/xtalis/xpcipy/">
      <div class="sidebar-sub-item{% if page.url contains 'xpcipy' %} active{% endif %}">
        XPCIpy
      </div>
    </a>
    {% endif %}
    {% if line.id == 'simulation' and page.url contains 'simulation' %}
    <a href="{{ site.url }}{{ site.baseurl }}/research/simulation/mimac/">
      <div class="sidebar-sub-item{% if page.url contains 'mimac' %} active{% endif %}">
        MIMAC
      </div>
    </a>
    <a href="{{ site.url }}{{ site.baseurl }}/research/simulation/pci/">
      <div class="sidebar-sub-item{% if page.url contains '/pci' %} active{% endif %}">
        Phase contrast
      </div>
    </a>
    {% endif %}
    {% endfor %}
    <div style="margin-top: 14px;">
      <a href="{{ site.url }}{{ site.baseurl }}/research/" class="btn btn-default btn-sm btn-block">&larr; All research</a>
    </div>
  </div>
</div>
